<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WServletDemoWebApp_ID">
	<display-name>Demo Chart</display-name>
	<servlet>
		<servlet-name>DemoServlet</servlet-name>
		<servlet-class>com.sample.chart.servlet.DemoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DemoServlet</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>
</web-app>